*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #70cac0;
}


.logo{
    height: 100px;
    object-fit: contain;
    
}
h1{
    
}
nav a{
    text-align: left;
    display: block;
    width: 20%;
    }
.Onsite{
    text-decoration: none;
}
h2{
    background-color: black;
    color: white;
    text-align: center;
}


article{
    width: 80%;
    display: block;
}
h3{
    font-weight: bolder;
    font-style: italic;
}